@model ProductModel
@{
    ViewData["Title"] = "Product";
}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="lnr-bookmark icon-gradient bg-premium-dark"></i>
                </div>
                <div>
                    <span class="text-primary"><b>Products</b></span>
                </div>
            </div>
            <div class="page-title-actions">
                <div class="d-inline-block dropdown">
                    <button id="button-excel" class="btn btn-success">
                        <i class="fa-regular fa-file-excel" style="color: #ffffff;"></i>
                        Export
                    </button>

                    <button type="button" class="btn-shadow btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
                        + Add product
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="main-card mb-3 card">
        <div class="card-body">
            <div class="table-responsive">
                <table style="width: 100%;" id="productTable" class="table table-hover table-striped table-bordered display nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Modal
{
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <form asp-action="Create" asp-controller="Product" method="post" id="createForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Product Name<span class="text-danger">*</span></label>
                            <input asp-for="Name" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Product Description</label>
                            <input asp-for="Description" class="form-control" asp-for="Description" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label">Product Quantity<span class="text-danger">*</span></label>
                            <input asp-for="Quantity" type="number" class="form-control" asp-for="Quantity" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-shadow btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="createEditFormSubmitBtn" class="ladda-button  me-2 btn-shadow btn btn-primary" data-style="expand-left">
                            <span class="ladda-label">Save Changes</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
@section Scripts {
    <script src="~/js/validation.js"></script>
    <script src="~/js/formSubmissionAjax.js"></script>
    <script src="~/js/ProductScripts/product-data-table.js"></script>
    <partial name="_ValidationScriptsPartial" />
    
}