html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.report-thumbnail {
    width: 100px; /* Fixed width */
    height: 60px; /* Fixed height */
    object-fit: cover; /* Crop or scale image to fill the box */
    transition: transform 0.3s ease, z-index 0.3s;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
}

/*.report-thumbnail:hover {
        transform: scale(2.2);
        z-index: 10;
        position: relative;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    }report-data-table.js*/

    .report-thumbnail.enlarged {
        transform: scale(2.2);
        z-index: 10;
        position: relative;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    }